*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
/* **** Header or navigationBar **** */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* **** Box1 **** */
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo\ \(1\).png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
    cursor: pointer;
}
.border2{
    border: 1.5px solid transparent;
    transition: transform 0,2s ease-in-out;
}
.border2:hover{
    border: 1.5px solid white;
    cursor: pointer;
    transform: scale(1.2);
}

/* **** Box2 **** */
.add-first{
    color: #cccccc;
    font-size: .8rem;
    margin-left: 15px;
    margin-top: .4rem;
    margin-bottom: .2rem;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* **** Box3 **** */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink; 
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #f79f2c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid #f79f2c;
}


/* **** Box4 && Box5**** */
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}

/* **** Box6 **** */
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}



/* *******PANEL******* */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.border1{
    transition: transform 0,2s ease-in-out;
}
.border1:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/* *********    HERO SECTION    ********** */

.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-msg{
    background-color: white;
    color: black;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    border-radius: 20px
}
.hero-msg a {
    color: #007185;
}

/*     *****   SHOP SECTION   ****     */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    background-color: white;
    height: 300px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 1.2rem;
}
.box-img {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p {
    color: #007185;
    padding-left: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.box-content h2{
    cursor: pointer;
    font-weight: 700;
    font-size: large;
    padding-left: 10px;
}
/* **Footer** */
footer{
    margin-top: 25px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    border-top: .5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo\ \(1\).png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copy-right{
    padding-top: 5px;
}